@model IEnumerable<DataTransferObjects.CreatureDiet>

<h2>Creature Diets</h2>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatureDietID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatureDietID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CreatureDietID }, new { @class = "btn btn-default" }) 
                @Html.ActionLink("Details", "Details", new { id=item.CreatureDietID }, new { @class = "btn btn-default" }) 
                @Html.ActionLink("Deactivate", "Delete", new { id=item.CreatureDietID }, new { @class = "btn btn-default" }) 
				@Html.ActionLink("Activate", "Activate", new { id = item.CreatureDietID }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
    
    </table>

